<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Todolist</title>
</head>
<body>
    <div id="app">
        <input v-model="todo" placeholder="edit me">
        <button @click ="addObj">Add</button>
        <ul>
            <li v-bind:class="[item.done == 'true' ? 'active' : '']" v-for="(item,index) in todos" @click="[item.done == 'true' ? item.done = 'false' : item.done = 'true'] " >
                {{item.text}}
                <button v-on:click= "remove(index)">X</button>
            </li>
        </ul>
    </div>
   <script src="js/script.js"></script> 
</body>
</html>